/* estilos para formulario normal y alto contraste. */


/* estilos modo estandard */

body {
	background-color: #f0f0f0; /* gris claro   */
	color: #000; /* negro*/
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	font-weight: bold;
}

p {
	text-align: justify;
}

legend {
	text-align: center;
}

label {
	font-weight: bold;
}

input {
	background-color: #f0f0f0; /* gris claro   */
	color: #000; /* negro*/
	border: solid 1px black;
}

select {
	background-color: #f0f0f0; /* gris claro   */
	color: #000; /* negro*/
	border: solid 1px black;
}

button {
	background-color: red;
	color: white;
	border: solid 2px black;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	display: block; /* Convierte el botón en un elemento de bloque */
	margin: 0 auto; /* Establece márgenes automáticos */
	text-align: center; /* Centra el texto dentro del botón */
}

/* estilos en alto contraste. */

body.alto-cont * {
	background-color: #333; /* gris oscuro */
}

.alto-cont h1 {
	color: yellow; /* Color amarillo */
}

.alto-cont p {
	color: greenyellow; /* Color verde manzana */
}

.alto-cont legend {
	color: yellow; /* Color amarillo */
}

.alto-cont label {
	color: greenyellow; /* Color verde manzana */
}

.alto-cont input {
	background-color: #000; /* Negro (hexadecimal) */
	color: (#ff00ff); /* Fucsia (hexadecimal) */
	border: solid 1px greenyellow; /* Color verde manzana */
}

.alto-comt select {
	background-color: #000; /* Negro (hexadecimal) */
	color: (#ff00ff); /* Fucsia (hexadecimal) */
	border: solid 1px greenyellow; /* Color verde manzana */
}
.alto-cont button {
	background-color: #007bff; /* Azul intenso */
	color: #ffff99; /* amarillo claro*/
	border: solid 2px #ccc; /* Borde gris claro*/
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	display: block; /* Convierte el botón en un elemento de bloque */
	margin: 0 auto; /* Establece márgenes automáticos */
	text-align: center; /* Centra el texto dentro del botón */
}

/* transición que Se aplica a todos los elementos dentro del body */
body * {
	transition: all 1.5s ease; /* Animación de transición para un cambio suave */
}

/* alinear el botón de cambio de modo  */
.contenedor-botonModo {
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 5px;
}

/* colores de referencia */
/* amarillo claro (#ffff99). */
/* gris claro (#cccccc). */
